header.top-bar {
  .tab-bar {
    // margin: 32px 0 0 auto;  // foundation-sites@6.4.x
    margin: 32px 0 auto;       // foundation-sites@6.3.1
  }
}

.top-bar {
  position: relative;
  flex-wrap: wrap;

  padding: 0;

  line-height: 0;

  .title-bar {
    @include flex;
    @include flex-grid-column(100%, 0);
    @include flex-align(justify);

    @include gradientVertical(map_get($color-palette, title-bar-gradient-top), map_get($color-palette, title-bar-gradient-bottom));
    box-shadow: inset 0 -1px 0 0 map_get($color-palette, title-bar-border-bottom),
                0 2px 6px 0 map_get($color-palette, title-bar-box-shadow);

    .top-bar-title {

      margin: 0 0 0 12px;

      .logo {
        @include flex-grid-column(shrink, 0);

        vertical-align: middle;
      }
    }

    .top-bar-right {
      @include flex-grid-column(shrink, 0);
    }
  }

    .title-bar-section {
    @include flex;
    @include flex-grid-column(100%, 0);
    @include flex-align(justify);

    background-color: map_get($color-palette, title-bar-gradient-bottom);
    position: relative;


    .top-bar-title {

      margin: 0 0 0 12px;

      .logo {
        @include flex-grid-column(shrink, 0);

        vertical-align: middle;
      }
    }

    .top-bar-right {
      @include flex-grid-column(shrink, 0);
    }
  }

  &.kiosk {
    .top-bar-title {
      > .menu {
        display: inline-flex;
        width: auto;
      }
    }
  }

  &.has-tabs {
    .title-bar {
      box-shadow: none;
    }
  }
}