* {
  outline: none !important;
}

.splitter {
  position: relative;
  width: 100%;
  height: 4px;

  border: 1px solid map_get($color-palette, panel-splitter-border);
  border-right: none;
  border-left: none;

  background-color: map_get($color-palette, panel-splitter-bg);

  cursor: map_get($icon-pack, panel-splitter-cursor-hover) 7.5 8, pointer;

  transition: border 0.25s ease-in-out,
              background-color 0.25s ease-in-out;

  &:hover,
  &.is-hovered {
    background-color: map_get($color-palette, panel-splitter-bg-hover);

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;

      border: 2px solid map_get($color-palette, panel-splitter-border-hover);
      border-right: none;
      border-left: none;
    }
  }

  &.vertical {
    width: 4px;
    height: 100%;

    border: 1px solid map_get($color-palette, panel-splitter-border);

    cursor: map_get($icon-pack, panel-splitter-vertical-cursor-hover) 8 7.5, pointer;

    &:hover,
    &.is-hovered {
      &:after {
        border: 2px solid map_get($color-palette, panel-splitter-border-hover);
      }
    }
  }
}