@import '../sass-image';

// Flags
$theme-light:           false;

// Colors
$french-gray:           #B8BABF;
$mountain-mist:         #919499;
$paynes-gray:           #424347;
$shark:                 #34343B;
$jaguar:                #2A2A30;
$black-russian:         #25252B;
$dark-jungle:           #1B1B1F;

$cornflower-blue:       #4C8EFF;
$jacksons-purple:       #2E4585;

$transparent-lightest:  rgba(229,238,255,0.05);
$transparent-lighter:   rgba(229,238,255,0.08);
$transparent-light:     rgba(229,238,255,0.11);
$transparent:           rgba(229,238,255,0.30);
$transparent-dark:      rgba(229,238,255,0.50);

body {
	background:	        $dark-jungle;
	color:	            $french-gray;
}

$color-palette: (
        primary-lightest:                         $french-gray,
        primary-lighter:                          $mountain-mist,
        primary-light:                            $paynes-gray,
        primary:                                  $shark,
        primary-dark:                             $jaguar,
        primary-darker:                           $black-russian,
        primary-darkest:                          $dark-jungle,

        secondary:                                $cornflower-blue,
        secondary-dark:                           $jacksons-purple,

        // Containers
        header-bg:                                $paynes-gray,
        header-text:                              $white,
        section-bg:                               $french-gray,

        // Title Bar
        title-bar-gradient-top:                   $jaguar,
        title-bar-gradient-bottom:                $black-russian,
        title-bar-border-bottom:                  rgba(0,0,0,0.60),
        title-bar-box-shadow:                     rgba(0,0,0,0.45),
        text-title-color:                         $white,
        button-close-x-hover-bg:                  #E03030,
        button-close-x-active-bg:                 #541313,
        button-close-x-active-box-shadow:         #2B0A0A,
        button-min-max-hover-bg:                  $transparent-lighter,
        button-min-max-active-bg:                 rgba(0,0,0,0.10),
        button-min-max-active-box-shadow:         rgba(0,0,0,0.30),

        // Menus
        menu-title-color:                         $french-gray,
        menu-title-hover-bg:                      $transparent-lighter,
        menu-title-active-bg:                     $jaguar,
        menu-border-active:                       rgba(0,0,0,0.30),
        menu-border-inset-active:                 rgba(255,255,255,0.08),
        menu-shadow-active:                       rgba(0,0,0,0.50),
        menu-shadow-inset-active:                 rgba(255,255,255,0.08),
        menu-text-active-color:                   $white,
        menu-text-color:                          $white,
        menu-divider-color:                       $black,
        menu-hover-bg:                            $transparent-lighter,
        menu-active-bg:                           $cornflower-blue,

        // Tabs
        tab-bar-bg:                               $jaguar,
        tab-bar-border:                           rgba($black,0.40),
        tab-bar-shadow:                           rgba($white,0.08),
        tab-bg-hover:                             rgba(#E5EEFF,0.08),
        tab-text-color-hover:                     $french-gray,
        tab-text-color-active:                    $white,
        // -- Nav Tabs
        nav-tab-title-active-gradient-top:        #48484F,
        nav-tab-title-active-gradient-bottom:     #414147,
        nav-tab-border-active:                    rgba(0,0,0,0.60),
        nav-tab-bar-gradient-top:                 #414147,
        nav-tab-bar-gradient-bottom:              #3B3B41,
        nav-tab-text-color:                       $white,
        nav-tab-with-icon-text-color:             $french-gray,
        nav-tab-with-icon-text-color-active:      $white,

        // Toolbar
        toolbar-shadow-inset-top:                 rgba(255,255,255,0.08),
        toolbar-shadow-inset-bottom:              rgba(0,0,0,0.30),
        toolbar-shadow:                           rgba(0,0,0,0.50),
        toolbar-group-separator:                  rgba(0,0,0,0.40),
        button-toolbar-label-color:               $white,
        button-toolbar-hover-bg:                  $transparent-lighter,
        button-toolbar-focus-bg:                  rgba(0,0,0,0.10),
        button-toolbar-focus-border:              rgba(0,0,0,0.30),
        button-split-group-hover-bg:              $transparent-lightest,
        button-split-group-divider:               rgba(255,255,255,0.16),

        // Quick Access Toolbar
        button-quick-access-hover-bg:             $transparent-lighter,
        button-quick-access-active-border:        rgba(0,0,0,0.10),
        button-quick-access-active-bg:            rgba(0,0,0,0.30),
        button-group-box-border:                  rgba(229,238,255,0.16),
        button-group-box-bg:                      rgba(0,0,0,0.10),

        // Buttons
        // -- Standard
        button-standard-color:                    $white,
        button-standard-gradient-top:             $shark,
        button-standard-gradient-bottom:          $jaguar,
        button-standard-shadow-inset:             rgba(255,255,255,0.08),
        button-standard-shadow:                   rgba(0,0,0,0.25),
        button-standard-hover-gradient-top:       #3F3F46,
        button-standard-hover-gradient-bottom:    #36373D,
        button-standard-hover-shadow-inset:       rgba(255,255,255,0.16),
        button-standard-pressed-bg:               $cornflower-blue,
        button-standard-pressed-color:            $white,
        button-standard-active-bg:                $jacksons-purple,
        button-standard-active-shadow-inset:      rgba(255,255,255,0.16),
        button-standard-disabled-opacity:         0.3,
        button-standard-disabled-text-color:      $white,
        // -- Default
        button-default-border-inset:              rgba($cornflower-blue,0.50),
        button-default-shadow-inset:              rgba($cornflower-blue,0.50),
        button-default-hover-border-inset:        rgba($cornflower-blue,0.08),
        button-default-hover-shadow-inset:        rgba(255,255,255,0.16),
        // -- Dropdown
        button-dropdown-color:                    $white,
        // -- Dropdown Lightweight
        button-dropdown-lightweight-color:        $french-gray,
        button-dropdown-lightweight-color-hover:  $white,
        button-dropdown-lightweight-color-active: $cornflower-blue,

        // Input
        input-text-border:                        $transparent,
        input-text-bg:                            rgba($black,0.20),
        input-text-color:                         $white,
        input-text-border-hover:                  $mountain-mist,
        input-text-border-active:                 $cornflower-blue,
        input-text-bg-active:                     rgba(#212733,0.60),
        input-text-bg-error:                      #2B0A0A,
        input-text-border-error:                  #E03030,
        input-text-highlight-bg:                  $jacksons-purple,
        input-text-disabled-opacity:              0.3,
        input-text-disabled-color:                $white,
        // -- Radios
        radio-border:                             $french-gray,
        radio-border-hover:                       $white,
        radio-checked-bg:                         $cornflower-blue,
        radio-disabled:                           rgba($mountain-mist,0.30),
        // -- Switch
        switch-border:                            $french-gray,
        switch-bg:                                rgba(0,0,0,0.2),
        switch-thumb-bg:                          $mountain-mist,
        switch-border-hover:                      $white,
        switch-border-checked:                    $cornflower-blue,
        switch-bg-checked:                        $cornflower-blue,
        switch-thumb-checked-bg:                  $white,
        switch-disabled-opacity:                  0.3,
        // -- Combo box
        button-dropdown-combo-bg:                 rgba(0,0,0,0.20),
        button-dropdown-combo-bg-hover:           rgba(#E5EEFF,0.08),
        button-dropdown-combo-border:             $transparent,
        button-dropdown-combo-border-hover:       $mountain-mist,
        // -- Spin
        button-spin-gradient-top:                 $shark,
        button-spin-gradient-bottom:              $jaguar,
        button-spin-border:                       $transparent,
        button-spin-gradient-top-hover:           #3F3F46,
        button-spin-gradient-bottom-hover:        #36373D,
        button-spin-bg-active:                    $cornflower-blue,
        button-spin-opacity-disabled:             0.3,

        // Tree View
        list-item-color:                          $french-gray,
        list-item-bg-hover:                       rgba(#E5EEFF,0.08),
        list-item-bg-focus:                       rgba(#E5EEFF,0.16),
        list-item-bg-active:                      $jacksons-purple,

        // Data Grid
        data-grid-border:                         rgba(#E5EEFF,0.16),
        data-grid-header-top-gradient:            $jaguar,
        data-grid-header-bottom-gradient:         $black-russian,
        data-grid-color:                          $french-gray,
        data-grid-color-highlighted:              #85C2FF,
        data-grid-row-bg-hover:                   rgba(#E5EEFF,0.08),
        data-grid-row-bg-active:                  $jacksons-purple,
        data-grid-row-stripe-bg:                  rgba($white,0.03),
        data-grid-stripe-border:                  rgba($white,0.06),

        // Property Panel
        panel-bg:                                 #2D2D33,
        panel-tabs-shadow:                        rgba(0,0,0,0.4),
        panel-tab-bar-bg:                         $black-russian,
        panel-header-color:                       $white,
        panel-border:                             rgba(0,0,0,0.4),
        panel-top-border:                         rgba($white,0.08),
        panel-splitter-bg:                        rgba(#E5EEFF,0.16),
        panel-splitter-border:                    rgba($black,0.40),
        panel-splitter-bg-hover:                  rgba(#E5EEFF,0.30),
        panel-splitter-border-hover:              rgba(#E5EEFF,0.08),
        panel-separator:                          rgba(#E5EEFF,0.16),

        // Property Grid
        grid-title-color:                         $white,
        grid-search-placeholder-color:            $french-gray,
        grid-item-darkened-opacity:               0.3,

        // Scrollbars
        scrollbar-track-bg:                       $jaguar,
        scrollbar-track-border:                   rgba($black,0.40),
        scrollbar-thumb-bg:                       rgba($mountain-mist,0.50),
        scrollbar-thumb-bg-hover:                 $mountain-mist,
        scrollbar-thumb-bg-active:                $white,
        scrollbar-button-bg-hover:                rgba(#E5EEFF,0.08),
        scrollbar-button-bg-active:               $cornflower-blue,

        // Styleguide
        style-guide-switch-label-color:           $white,
        style-guide-buttons-bg:                   transparent,
        style-guide-label-color:                  $french-gray,
        style-guide-default-bg:                   #1A1A1E,
        style-guide-spacer-bg:                    $shark

);

// Images & Icons
// Relative to `./src/images`
$icons:                 "icons";
$dark-icons:            "dark/icons";

$icon-pack: (
        // Title Bar
        logo:                                 inline-image("#{$icons}/logo.png"),
        logo-full:                            inline-image("#{$dark-icons}/logo-full.png"),
        close-x:                              inline-image("#{$icons}/close-x.png"),
        close-x-hover:                        inline-image("#{$icons}/close-x.png"),
        close-x-active:                       inline-image("#{$icons}/close-x.png"),
        maximize:                             inline-image("#{$dark-icons}/maximize.png"),
        minimize:                             inline-image("#{$dark-icons}/minimize.png"),

        // Menus
        ph-menu-box:                          inline-image("#{$dark-icons}/ph-menu-box.png"),

        // Toolbar
        ph-toolbar-box:                       inline-image("#{$dark-icons}/ph-toolbar-box.png"),
        ph-toolbar-box-active:                inline-image("#{$dark-icons}/ph-toolbar-box-active.png"),

        // Dropdowns
        caret-down:                           inline-image("#{$dark-icons}/caret-down.png"),
        caret-down-hover:                     inline-image("#{$dark-icons}/caret-down-hover.png"),
        caret-down-active:                    inline-image("#{$dark-icons}/caret-down-hover.png"),
        caret-down-alt-active:                inline-image("#{$icons}/caret-down-alt-active.png"),

        // Quick Access Toolbar
        folder:                               inline-image("#{$dark-icons}/folder.png"),
        save:                                 inline-image("#{$dark-icons}/save.png"),
        undo:                                 inline-image("#{$dark-icons}/undo.png"),
        redo:                                 inline-image("#{$dark-icons}/redo.png"),
        stop:                                 inline-image("#{$icons}/stop.png"),
        play:                                 inline-image("#{$icons}/play.png"),
        ellipses:                             inline-image("#{$dark-icons}/ellipses.png"),
        download:                             inline-image("#{$dark-icons}/download.png"),
        remove:                               inline-image("#{$dark-icons}/remove.png"),
        target:                               inline-image("#{$dark-icons}/target.png"),
        property:                             inline-image("#{$dark-icons}/property.png"),

        // Input
        error:                                inline-image("#{$icons}/error.png"),
        // -- Checkboxes
        checkbox:                             inline-image("#{$dark-icons}/checkbox.png"),
        checkbox-hover:                       inline-image("#{$dark-icons}/checkbox-hover.png"),
        checkbox-checked:                     inline-image("#{$dark-icons}/checkbox-checked.png"),
        checkbox-disabled:                    inline-image("#{$dark-icons}/checkbox-disabled.png"),
        checkbox-checked-disabled:            inline-image("#{$dark-icons}/checkbox-checked-disabled.png"),
        // -- Radio
        radio:                                inline-image("#{$dark-icons}/radio.png"),
        radio-hover:                          inline-image("#{$dark-icons}/radio-hover.png"),
        radio-checked:                        inline-image("#{$dark-icons}/radio-checked.png"),
        radio-disabled:                       inline-image("#{$dark-icons}/radio-disabled.png"),
        radio-checked-disabled:               inline-image("#{$dark-icons}/radio-checked-disabled.png"),
        // -- Combo Box
        check:                                inline-image("#{$dark-icons}/check.png"),
        // -- Spin Box
        arrow-up:                             inline-image("#{$dark-icons}/arrow-up.png"),
        arrow-up-active:                      inline-image("#{$dark-icons}/arrow-up-active.png"),
        arrow-down:                           inline-image("#{$dark-icons}/arrow-down.png"),
        arrow-down-active:                    inline-image("#{$dark-icons}/arrow-down-active.png"),

        // Property Panels
        panel-splitter-cursor-hover:          inline-image("#{$icons}/splitter-cursor.png"),
        panel-splitter-vertical-cursor-hover: inline-image("#{$icons}/splitter-vertical-cursor.png"),

        // Property Grid
        mag-glass:                            inline-image("#{$dark-icons}/mag-glass.png"),

        // Scrollbar
        scroll-caret-down:                    inline-image("#{$dark-icons}/scroll-caret-down.png"),
        scroll-caret-down-hover:              inline-image("#{$dark-icons}/scroll-caret-down-hover.png"),
        scroll-caret-down-active:             inline-image("#{$dark-icons}/scroll-caret-down-hover.png")

);

@import "../components/_styles";